## The point of this code is to compile a table of weather in NY, Central Park.

In [3]:
#libraries needed
import csv
import pandas as pd
import os

#these are the plotly libaries, but i dont use ff
import plotly
import plotly.graph_objs as go

plotly.offline.init_notebook_mode(connected=True)

### First thing I did was to import each file, read the data and put it in a df, then I indexed it by user type so i could separate out the Customers.

In [7]:
#I needed to rename the columns so they is consistent amoung files. This is just the list of column titles to use later
#columnlist=['Trip Duration', 'Start Time','Stop Time', 'Start Station ID', 'Start Station Name', 
            #'Start Latitude', 'Start Longitude', ' End Station ID', 'End Station Name', 'End Latitude', 
            #'End Longitude', 'Bike ID', 'User Type', 'Birth Year', 'Gender']

# import data directory the . at the start is the location of the python file
import_directory='./weather data/'

#blank dataframe to store the data in
df_weather_NY=pd.DataFrame()

#iterate over files in a directory
for file in os.listdir(import_directory):
    if file.endswith(".csv"):# this was important as their were hidden files in the folder that messed with my code further down
        #reads the CSV into a dataframe
        df_month = pd.read_csv(import_directory + file)
        
        print(file)# for my own info of which files are being read
        
          
        #index the dataframe by user type
        df_month_ind=df_month.set_index("STATION")
        df_month_NY=df_month_ind.loc['USW00094728']
   
    
        #append the dataframe to the all users data frame (this is why having consistent column names is important)
        df_weather_NY = df_weather_NY.append(df_month_NY)

df_weather_NY.head()

1732558.csv
1732563.csv

                                    NAME     DATE  PRCP  TAVG
STATION
USW00094728  NY CITY CENTRAL PARK, NY US  2016-01  4.41  34.5
USW00094728  NY CITY CENTRAL PARK, NY US  2016-02  4.41  37.8
USW00094728  NY CITY CENTRAL PARK, NY US  2016-03  1.17  48.9
USW00094728  NY CITY CENTRAL PARK, NY US  2016-04  1.62  53.3
USW00094728  NY CITY CENTRAL PARK, NY US  2016-05  3.76  62.8

In [9]:
df_weather_NY_sort=df_weather_NY.sort_values(by=['DATE'])
df_weather_NY_sort.tail()

                                    NAME     DATE  PRCP  TAVG
STATION
USW00094728  NY CITY CENTRAL PARK, NY US  2018-12  6.51  40.2
USW00094728  NY CITY CENTRAL PARK, NY US  2019-01  3.58  32.6
USW00094728  NY CITY CENTRAL PARK, NY US  2019-02  3.14  36.3
USW00094728  NY CITY CENTRAL PARK, NY US  2019-03  3.87  41.7
USW00094728  NY CITY CENTRAL PARK, NY US  2019-04  4.56  55.5

In [10]:
save_directory='./saved csv/'
df_weather_NY_sort.to_csv(save_directory+"weather.csv")